{:has-let? false, :expr-depth 1, :functions-used #{+}, :duration-ms 0, :has-threading? false, :expr "(+ 2 3)", :result-type "class java.lang.Long", :error nil, :timestamp 1763780298404, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{percent-change}, :duration-ms 0, :has-threading? false, :expr "(percent-change 100 125)", :result-type "class clojure.lang.PersistentArrayMap", :error nil, :timestamp 1763780304668, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{percent-change}, :duration-ms 2, :has-threading? false, :expr "(percent-change 50 75)", :result-type "error", :error "Unable to resolve symbol: percent-change", :timestamp 1763782371720, :success? false}
{:has-let? false, :expr-depth 1, :functions-used #{percent-change}, :duration-ms 0, :has-threading? false, :expr "(percent-change 50 75)", :result-type "class clojure.lang.PersistentArrayMap", :error nil, :timestamp 1763782484064, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{portfolio-value}, :duration-ms 2, :has-threading? false, :expr "(portfolio-value [[1000 :hash]] :usd [[:/ [0.032 :usd] [1 :hash]]])", :result-type "class clojure.lang.PersistentVector", :error nil, :timestamp 1763782493663, :success? true}
{:has-let? false, :expr-depth 1, :functions-used #{portfolio-value}, :duration-ms 1, :has-threading? false, :expr "(portfolio-value [[1000 :hash]] :usd [[:/ [0.032 :usd] [1 :hash]]])", :result-type "class clojure.lang.PersistentVector", :error nil, :timestamp 1763782499548, :success? true}
